<div class="cart_section cart_item p-0 ">
  <div class="container-fluid">
      <div class="row">
          <div class="offset-lg-1">
              <div class="cart_container">
                  <div class="cart_title">Shopping Cart<small> ({{totalCartItem}} item in cart) </small></div>
                  <div class="cart_items">
                      <ul class="cart_list">
                        <ng-template ngFor let-item [ngForOf]="productList">
                          <li class="cart_item clearfix">
                              <div class="cart_item_image"><img style="height: inherit;" src="{{item.image}}" alt=""></div>
                              <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                  <div class="cart_item_name cart_info_col">
                                      <div class="cart_item_title">Product :  {{item.title}} </div>
                                      <div class="cart_item_title">Quantity :  1 </div>
                                      <div class="cart_item_title">Price :  {{ item.mrpprice - (item.mrpprice/100 * item.discount)}}</div>
z
                                  </div>

                              </div>
                          </li>
                          <hr>
                        </ng-template>
                      </ul>
                  </div>
                  <div class="order_total">
                      <div class="order_total_content text-md-right">
                          <div class="order_total_title">Order Total:</div>
                          <div class="order_total_amount">₹ {{grandTotal}}</div>
                      </div>
                  </div>
                  <div class="cart_buttons">
                    <a routerLink="/products" data-bs-dismiss="modal" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Buy More</a>
                    <a href="https://wa.link/sn1ofe" routerLink=""  class="disabled btn btn-outline-dark py-2 px-4 animated slideInRight">Buy Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
