


    <!-- Product Start -->
    <div class="container-fluid py-5">
      <div class="container">
          <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
              <h1 class="text-primary mb-3"><span class="fw-light text-dark">Our Natural Cold Pressed</span> Oil Products</h1>
              <p class="mb-5">Description</p>
          </div>
          <div class="row g-4">
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                  <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/assets/Images/product-main-1.png" alt="">
                      <div class="mb-2">
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small class="fa fa-star text-primary"></small>
                          <small>(99)</small>
                      </div>
                      <a href="" class="h6 d-inline-block mb-2">Oil</a>
                      <h5 class="text-primary mb-3"> ₹ 99.99</h5>
                      <a href="" class="btn btn-outline-primary px-3">Add To Cart</a>
                  </div>
              </div>
              <div class="col-12 text-center">
                  <a class="btn btn-primary py-2 px-4" href="">Load More Products</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Product End -->

  <app-newsletter></app-newsletter>
