<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container">
      <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
          <h1 class="text-primary mb-3"><span class="fw-light text-dark">From Our</span> Blog Articles</h1>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus.</p>
      </div>
      <div class="row g-4">
          <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
              <div class="blog-item border h-100 p-4">
                  <img class="img-fluid mb-4" src="/assets/img/blog-1.jpg" alt="">
                  <a href="" class="h5 lh-base d-inline-block">Foods that are good for your hair growing</a>
                  <div class="d-flex text-black-50 mb-2">
                      <div class="pe-3">
                          <small class="fa fa-eye me-1"></small>
                          <small>9999 Views</small>
                      </div>
                      <div class="pe-3">
                          <small class="fa fa-comments me-1"></small>
                          <small>9999 Comments</small>
                      </div>
                  </div>
                  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
                  <a href="" class="btn btn-outline-primary px-3">Read More</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
              <div class="blog-item border h-100 p-4">
                  <img class="img-fluid mb-4" src="/assets/img/blog-2.jpg" alt="">
                  <a href="" class="h5 lh-base d-inline-block">How to take care of hair naturally</a>
                  <div class="d-flex text-black-50 mb-2">
                      <div class="pe-3">
                          <small class="fa fa-eye me-1"></small>
                          <small>9999 Views</small>
                      </div>
                      <div class="pe-3">
                          <small class="fa fa-comments me-1"></small>
                          <small>9999 Comments</small>
                      </div>
                  </div>
                  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
                  <a href="" class="btn btn-outline-primary px-3">Read More</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
              <div class="blog-item border h-100 p-4">
                  <img class="img-fluid mb-4" src="/assets/img/blog-3.jpg" alt="">
                  <a href="" class="h5 lh-base d-inline-block">How to use our natural & organic shampoo</a>
                  <div class="d-flex text-black-50 mb-2">
                      <div class="pe-3">
                          <small class="fa fa-eye me-1"></small>
                          <small>9999 Views</small>
                      </div>
                      <div class="pe-3">
                          <small class="fa fa-comments me-1"></small>
                          <small>9999 Comments</small>
                      </div>
                  </div>
                  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat.</p>
                  <a href="" class="btn btn-outline-primary px-3">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Blog End -->


<app-newsletter></app-newsletter>
