<!-- Feature Start -->
<div class="container-fluid py-5">
  <div class="container">
    <hr>
      <div class="row g-4">

          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.1s">
              <!-- <div class="feature-item position-relative bg-primary text-center p-3">
                  <div class="border py-5 px-3">
                      <img src="/assets/Images/natural.png" alt="img">
                  </div>
              </div> -->
              <div class="feature-item position-relative  text-center p-3">
                <div class="border py-5 px-3">
                    <i class="fa fa-leaf fa-3x text-dark mb-4"></i>
                    <h5 class="fw-normal mb-0">100% Natural free</h5>
                </div>
            </div>
          </div>
          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.3s">
              <div class="feature-item position-relative  text-center p-3">
                  <div class="border py-5 px-3">
                      <i class="fa fa-bong fa-3x text-dark mb-4"></i>
                      <h5 class="fw-normal mb-0">100% Chemical free</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
              <div class="feature-item position-relative text-center p-3">
                  <div class="border py-5 px-3">
                      <i class="fa fa-line-chart fa-3x text-dark mb-4"></i>
                      <h5 class="fw-normal mb-0">High Nutritional</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
            <div class="feature-item position-relative  text-center p-3">
                <div class="border py-5 px-3">
                    <i class="fa fa-thumbs-o-up fa-3x text-dark mb-4"></i>
                    <h5 class="fw-normal mb-0">Skin and Hair Wellness</h5>
                </div>
            </div>
          </div>
          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
            <div class="feature-item position-relative  text-center p-3">
                <div class="border py-5 px-3">
                    <i class="fa fa-heartbeat fa-3x text-dark mb-4"></i>
                    <h5 class="fw-normal mb-0">Low in Saturated Fats</h5>
                </div>
            </div>
          </div>
          <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
            <div class="feature-item position-relative  text-center p-3">
                <div class="border py-5 px-3">
                    <i class="fa fa-heart-o fa-3x text-dark mb-4"></i>
                    <h5 class="fw-normal mb-0">high levels of antioxidants</h5>
                </div>
            </div>
          </div>



      </div>
    <hr>
  </div>
</div>
<!-- Feature End -->
