   <!-- Hero Start -->
   <div class="container-fluid bg-success hero-header mb-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h3 class="fw-light text-white animated slideInRight">Natural & Organic</h3>
                <h1 class="display-4 text-white animated slideInRight"> <span class="fw-light text-dark">Sunflower</span> oil a burst of flavor and nutrition! 🌻</h1>
                <p class="text-white mb-4 animated slideInRight">It's used as a source of polyunsaturated fat in the diet. People use sunflower oil for high cholesterol and preventing heart disease. It is also used for high blood pressure, eczema, dry mouth, dry skin, and many other conditions, but there is no good scientific evidence to support these uses.</p>
                <a routerLink="/products" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Shop Now</a>
                <a routerLink="/contact" class="btn btn-outline-dark py-2 px-4 animated slideInRight">Contact Us</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid animate__animated animate__pulse animate__infinite" src="/assets/Images/sunflower-main.png" alt="images">
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
  <!-- Feature Start -->
     <app-feature></app-feature>
  <!-- Feature End -->


   <!-- About Start -->
   <div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid animate__animated animate__pulse animate__infinite" src="/assets/Images/safflower-main.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="text-primary mb-4">Healthy Oil </h1>
                <h1 class="text-primary mb-4">Safflower Oil <span class="fw-light text-dark">Safflower Oil</span></h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus, vitae porttitor purus nisl vitae purus. Praesent tristique odio ut rutrum pellentesque. Fusce eget molestie est, at rutrum est.</p>
                <p class="mb-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no
                    labore lorem sit. Sanctus clita duo justo et tempor.</p>
                <a class="btn btn-primary py-2 px-4" href="">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<hr>
    <!-- Feature Start -->
    <div class="container-fluid py-5">
      <div class="container">
          <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
              <h1 class="text-primary mb-3"><span class="fw-light text-dark">Best Benefits Of Our</span> Natural Cold Pressed Oil</h1>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus.</p>
          </div>
          <div class="row g-4 align-items-center">
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                  <div class="row g-5">
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>Natural & Organic</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span>grown and processed without the use of toxic chemicals, antibiotics and synthetic growth hormones.</span>
                          </div>
                      </div>
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>High Nutritional Value</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span>Nutrient-dense foods contain vitamins, minerals, complex carbohydrates, lean protein, and healthy fats.</span>
                          </div>
                      </div>
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>Low in Saturated Fats</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span> 1 g or less per serving, with not more than 15% of the calories coming from saturated fat.</span>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                  <img class="img-fluid img-fluid animate__animated animate__pulse animate__infinite" alt="" src="/assets/Images/oil-main.png">
              </div>
              <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                  <div class="row g-5">
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>No Side Effect</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span>Its pure natural no side effects</span>
                          </div>
                      </div>
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>Skin and Hair Wellness</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span>oil will helo for Skin and Hair Wellness</span>
                          </div>
                      </div>
                      <div class="col-12 d-flex">
                          <div class="btn-square rounded-circle border flex-shrink-0"
                              style="width: 80px; height: 80px;">
                              <i class="fa fa-check fa-2x text-primary"></i>
                          </div>
                          <div class="ps-3">
                              <h5>No Artificial Smell</h5>
                              <hr class="w-25 bg-primary my-2">
                              <span>No Artificial Smell added in oil product</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Feature End -->
<hr>
  <!-- product list start -->
  <!-- Product Start -->
<div class="container-fluid py-5">
  <div class="container">
      <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
          <h1 class="text-primary mb-3"><span class="fw-light text-dark">Our Natural</span> Cold Pressed Oil Popular Products</h1>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non malesuada consequat, nibh erat tempus risus.</p>
      </div>
      <div class="row g-4 justify-content-center">
        <ng-template ngFor let-item [ngForOf]="productList">
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="product-item text-center border h-100 p-4">
                <img class="img-fluid mb-4" src="{{item.image}}" alt="">
                <div class="mb-2">
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small>(99)</small>
                </div>
                <h5 style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width: 100ch" > {{item.title}}</h5>
                <p routerLink="" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width: 100ch;" class="h6 d-inline-block mb-2">{{item.description}}</p>
                <h5 class="text-primary mb-3"> ₹ {{ item.price}}</h5>
                <button type="button" (click)="addToCart(item, $event)"  class="btn btn-primary btn-block btn-lg" id="idx">{{cartTxt}}</button>

            </div>
        </div>
        </ng-template>


      </div>
  </div>
</div>
<!-- Product End -->
   <!-- product list end -->

   <!-- product review start -->
   <app-customerreview></app-customerreview>
   <!-- product review end -->


