  <!-- Footer Start -->
  <div class="container-fluid bg-white footer">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a routerLink="/" class="d-inline-block mb-3">
                    <h1 class="text-primary">Ananta Enterprises</h1>
                </a>
                <p class="mb-0">We are a manufacturer and supplier of cold pressed groundnut oil, coconut oil, sesame oil, and many more all over Maharashtra. All the oils are made from the finest quality food-grade seeds sourced from farms in India. We take utmost care to preserve their true nutritional value, flavor and aroma.</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="mb-4">Get In Touch</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Plot no E -46/1 block no 16, MIDC Industrial Area, Chilkalthana, Chhatrapati Sambhajinagar (Aurangabad), Maharashtra 431006</p>
                <p><i class="fa fa-phone-alt me-3"></i>+91 7020533246</p>
                <p><i class="fa fa-envelope me-3"></i>{{emailId}}</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-primary me-1" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-primary me-1" href=""><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="mb-4">Our Products</h5>
                <a class="disabled btn btn-link" routerLink="/products">Sunflower Oil</a>
                <a class="btn btn-link" routerLink="/products">Safflower Oil</a>
                <a class="disabled btn btn-link" routerLink="/products">Coconut Oil</a>
                <!-- <a class="btn btn-link" href="">Black Mustard Oil</a> -->
                <a class="btn btn-link" routerLink="/products">Groundnut Oil</a>
                <!-- <a class="btn btn-link" href="">Yellow Mustard Oil</a>
                <a class="btn btn-link" href="">Black Sesame Oil</a> -->
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="mb-4">Popular Link</h5>
                <a class="btn btn-link" routerLink="/about">About Us</a>
                <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                <a class="btn btn-link" routerLink="">Privacy Policy</a>
                <a class="btn btn-link" routerLink="">Terms & Condition</a>
                <a class="btn btn-link" routerLink="">Career</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Ananta Enterprises </a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://www.linkedin.com/in/amol-sarkate-9b98819a/">Amol Sarkate</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a routerLink="/home">Home</a>
                        <a routerLink="">Cookies</a>
                        <a routerLink="/contact">Help</a>
                        <a routerLink="">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
